.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1024px;
}

.header {
  background-color: rgba(95, 212, 183, 0.5);
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  color: #fff;
  text-shadow: 2px 2px 2px #727575;
  width: 100%;
  display: block;
  min-width: 388px;
}

.footer {
  margin: 0 auto;
  left: 0;
  bottom: 0;
  max-width: 1024px;
  min-width: 400px;
  text-align: center;
  font-size: 25px;
}
.footer i {
  color: rgb(87, 82, 82);
  margin: 0;
}
.footer i:hover {
  cursor: pointer;
  font-size: 30px;
}
